$slate-gray: #67696b;
$light-gray: #dde2e9;
$dark-blue: #2c84d7;
$darker-blue: #1c54eb;
$blue: #65a6ff;
$light-blue: #5fb3ff;
$turquoise: #45e1db;
$white: #fff;

.calendar-container {
  // border: 1px solid $slate-gray;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  min-width: 740px;
  max-width: 820px;
  width: 80%;
  border-radius: 3px;
  margin: 40px auto;
  padding: 10px;
  background-color: $white;
}

.calendar-header {
  padding: 10px;
  text-align: center;
  color: $slate-gray;
  font-size: 20px;
}

.calendar-table {
  width: 90%;
  margin: 8px auto 30px;
  border-spacing: 2px;
  border-collapse: separate;
}

.calendar-day-label, .calendar-day {
  width: 14.3%;
  // border: 1px solid $dark-blue;
  font-weight: 200;
  text-align: center;
}

.calendar-day-label {
  color: $slate-gray;
}

.calendar-day {
  cursor: pointer;
  height: 74px;
  font-size: 20px;
  position: relative;
  color: black;

  // span {
  //   color: black;

  //   &:hover {
  //     color: $slate-gray;
  //     text-decoration: none;
  //   }
  // }

  &:hover {
    opacity: 0.8;
    color: $slate-gray;
  }

  .badge-icon {
    position: absolute;
    border-radius: 50px;

    top: 18px;
    right: 26px;
    width: 14px;
    height: 14px;

    // font-size: 8px;
    // color: $white;
  }

  // .badge-icon.low {
  //   top: 18px;
  //   right: 30px;
  //   width: 12px;
  //   height: 12px;
  //   background-color: rgba(249, 189, 113, 1);
  // }
  // .badge-icon.med {
  //   top: 16px;
  //   right: 28px;
  //   width: 14px;
  //   height: 14px;
  //   background-color: rgba(249, 137, 113, 1);
  // }
  // .badge-icon.high {
  //   top: 14px;
  //   right: 24px;
  //   width: 16px;
  //   height: 16px;
  //   background-color: rgba(249, 113, 113, 1);
  // }
  // .badge-icon.extreme {
  //   top: 14px;
  //   right: 24px;
  //   width: 16px;
  //   height: 16px;
  //   background-color: rgba(233, 40, 40, 1);
  // }
}

.calendar-day.none {
  background-color: rgba(80, 255, 156, 1);
  span { color: $white; }
}

.calendar-day.low {

  .badge-icon {
    // top: 18px;
    // right: 28px;
    // width: 12px;
    // height: 12px;
    background-color: rgba(249, 189, 113, 1);
  }

}

.calendar-day.med {

  .badge-icon {
    // top: 18px;
    // right: 26px;
    // width: 14px;
    // height: 14px;
    background-color: rgba(249, 137, 113, 1);
  }
}

.calendar-day.high {

  .badge-icon {
    // top: 15px;
    // right: 26px;
    // width: 16px;
    // height: 16px;
    background-color: rgba(249, 113, 113, 1);
  }
}

.calendar-day.extreme {

  .badge-icon {
    // top: 15px;
    // right: 26px;
    // width: 16px;
    // height: 16px;
    background-color: rgba(233, 40, 40, 1);
  }

}

.calendar-day.all {
  // a { color: rgba(233, 40, 40, 1); }

  background-color: rgba(249, 113, 113, 1);
  span { color: $white; }
}

.calendar-day.disabled {
  span {
    color: rgba(209, 209, 209, 0.6);
  }
}

.outer-container {
  // display: table;
  // width: 100%;
  // height: 72px;
}

.inner-container {
  // width: 90%;
  // display: table-cell;
  // vertical-align: middle;
  // font-size: 20px;
}

.progress-bar {
  width: 10%;
  display: table-cell;
  background-color: $white;
}

.progress-bar.filled {
  background-color: $light-blue;
}

.calendar-day.disabled {
  background-color: $white;

  &:hover {
    cursor: auto;
  }
}

